# Database Configuration (PostgreSQL)
# Required to store Baileys WhatsApp Auth State
# Format: postgres://USER:PASSWORD@HOST:PORT/DATABASE_NAME
DATABASE_URL=postgres://omni:password@localhost:5432/omni

# Redis Configuration
# Required for Queueing and Pub/Sub communication with main-api
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# Inbox Configuration (Optional)
# Determines which directory and ID to use for Baileys Session
INBOX_ID=1
SESSION_DIR=auth_info_baileys
